

// Universal ----------------------------

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

// Landing Page ------------------------------
// ===========================================

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
  }
}

// Menu Layout

.header-menu-wrapper {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
}

.header-logo {
  span {
    color: #e3860b;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    margin: 15px 15px 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.85;
}

.header-content {
  z-index: 2;

  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
  }
}

// Button styles

.btn {
  background: #e3860b;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

// Section styles

.section {
  padding: 20px 0;
}

.section-b {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
  }
}

// Testomonials

footer {
  background-color: #333;
  color: #fff;
  margin-top: 100px;
  height: 950px;

    h2 {
      padding-top: 30px;
      text-align: center;
    }

    img {
      padding-top: 20px;
      border-radius: 50%;
    }

    p {
      margin-top: 20px;
    }
}

// SignUp/Login Form --------------------------------
// ==================================================

.bg-color {
  background: #225470;
}


.signUpForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin: 10em auto;
  height: 450px;

  button {
    border: none;
    padding: 5px 15px;
  }

  .leftSide {
    background: #e3860b;
    color: #fff;
    text-align: center;
    padding-top: 10em;

    button {
      background: #fff;
      color: orange;
      font-weight: 600;
    }
  }

  .rightSide {
    background: #fff;
    text-align: center;

    button {
      background: orange;
      color: #fff;
      font-weight: 600;
    }

    h2 {
      margin-top: 30px;
    }

    label {
      display: block;
    }

    input {
      margin-bottom: 15px;
      width: 50%;
      line-height: 1.5;
      background: #f1f1f1;
      border: none;
    }
  }
}

// Dashboard --------------------------------
// ==========================================

// Side Menu ---------------------------------

#sideMenu {
  background: #225470;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;

  h1 {
    text-align: center;
    color: #fff;
    span {
      color: orange;
    }
  }

  nav {
    padding-top: 10px;

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 15px 30px;
      font-weight: 300;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #225470;
        background: orange;
        border-left: solid #225470 5px;
        padding: 15px 30px 15px 25px;

        .far,
        .fas {
          color: #225470;
        }
      }

      .far,
      .fas {
        color: #e4e4e4;
        font-size: 1.4rem;
        margin-right: .8rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
      }

      &.active {
        background: orange;
        border-left: solid #225470 5px;
        padding: 15px 30px 15px 25px;
        color: #225470;

        .far,
        .fas {
          color: #225470;
        }
      }

    }

  }
}

// Dashboard Layout ----------------------------

#content-area {
  margin-left: 280px;
  padding: 15px;

  .heading {
    h1 {
      color: #225470;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 10px;
    }

    p {
      color: orange;
      font-size: .8rem;
      margin-bottom: 10px;
    }
  }

  .cards {
    overflow: auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card {
      background: #fefefe;
      border-radius: 5px;
      padding: 20px;
      margin: 2px;
      overflow: auto;
      box-shadow: 1px 1px 10px #e4e4e4;
    }
  }

  #edit-btn,
  #add-btn {
    border: none;
    padding: 3px 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: orange;

    &:hover {
      background: #225470;
      cursor: pointer;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    #close-btn {
      float: right;
      color: b1b1b1;
      font-weight: bolder;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal-content {
    background-color: #f4f4f4;
    margin: 30% auto;
    padding: 20px;
    width: 70%;
  }
}

// Support Chat ------------------------------

#messages {
  height: 300px;
  width: 50%;
}

#status {
  color: orange;
}

#textarea,
#username {
  width: 100%;
  border: solid orange 1px;
  font-family: "Montserrat"
}

// Mobile ------------------------------

@media(max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
