<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pennyful - Budgeting Web App</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
  <body>
    <header class="v-header container">
      <div class="fullscreen-video-wrap">
        <video type="video/mp4" src="../assets/video.mp4" autoplay="autoplay" loop="true" controls></video>
      </div>
      <div class="header-overlay"></div>

        <div class="header-menu-wrapper">
          <h1 class="header-logo"><span>Penny</span>Ful</h1>
            <ul class="header-menu">
              <li><a href="/">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="/login">Account</a></li>
              <li><a href="/members/support">Support</a></li>
            </ul>
        </div>

      <div class="header-content">
        <h1>Harness every penny, track and save.</h1>
        <p>Save, track and optimize every dollar in your wallet with Pennyful, the world's leading budget management platform.</p>
        <a href="#" class="btn">Learn more</a>
      </div>
    </header>

    <section class="section section-a">
      <div class="container">
        <h1>Unleash The Power Of A Buck</h1>
        <p>Budgeting is the invisible thread that gives you back control over your money, your time and your life. Start now with our seamless budget management platform.</p>
      </div>
    </section>

    <section class="section section-b">
      <div class="container">
        <div class="grid-container">
          <h3>Track</h3>
          <i class="far fa-chart-bar fa-3x"></i>
          <p>With our user friendly dashboard, you'll get a snapshot of your expenses any time.</p>
        </div>
        <div class="grid-container">
          <h3>Manage</h3>
          <i class="fas fa-money-bill-alt fa-3x"></i>
          <p>Flexibility is key. If you need to keep track of any expense, we've got your back.</p>
        </div>
        <div class="grid-container">
          <h3>Save</h3>
          <i class="fas fa-hand-holding-usd fa-3x"></i>
          <p>Profit starts with you. Let us help you save more and spend less.</p>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <h2>Testomonials</h2>
        <img src="https://randomuser.me/api/portraits/women/30.jpg" alt= "person" title="person"/>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aperiam ex illo. Corrupti cumque ea maiores quia eos, soluta totam, ipsum quo ducimus. Dolor cumque reiciendis numquam sequi, doloribus laborum voluptatibus eligendi dolorum, beatae, quas, libero culpa cupiditate. Asperiores obcaecati beatae delectus repudiandae adipisci distinctio rem eaque quibusdam molestiae ad." <span> - Alicia Brown</span></p>
      </div>
      <div class="container">
        <img src="https://randomuser.me/api/portraits/women/40.jpg" alt= "person" title="person"/>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aperiam ex illo. Corrupti cumque ea maiores quia eos, soluta totam, ipsum quo ducimus. Dolor cumque reiciendis numquam sequi, doloribus laborum voluptatibus eligendi dolorum, beatae, quas, libero." <span> - Marina Gutierrez</span></p>
      </div>
      <div class="container">
        <img src="https://randomuser.me/api/portraits/men/50.jpg" alt= "person" title="person"/>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aperiam ex illo. Corrupti cumque ea maiores quia eos, soluta totam, ipsum quo ducimus. Dolor cumque reiciendis numquam sequi, doloribus laborum voluptatibus." <span> - Gregory Philips</span></p>
      </div>
    </footer>

  </body>
</html>
